@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

.login {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-height: 720px;
  font-size: 1.6rem;

  &.bottom-panel-active {
    .sign-in-container {
      transform: translateY(20%);
    }
    .sign-up-container {
      transform: translateY(50%);
      opacity: 1;
      z-index: 5;
      animation: show 0.6s;
    }
    .overlay-container {
      transform: translateY(-100%);
    }
    .overlay {
      transform: translateY(0%);
    }

    .overlay-left {
      transform: translateY(0);
    }
    .overlay-right {
      transform: translateY(120%);
    }
  }

  h1 {
    font-weight: bold;
    margin: 2rem;
  }

  h2 {
    text-align: center;
  }

  span {
  }

  a {
    color: #333;
    text-decoration: none;
    margin: 1rem;
  }

  button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: #ffffff;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;

    &:active {
      transform: scale(0.95);
      cursor: pointer;
    }

    &:focus {
      outline: none;
      cursor: pointer;
    }
    &.ghost {
      background-color: transparent;
      border-color: #ffffff;
    }
  }

  form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 50%;
    text-align: center;
    width: 100%;
  }

  input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 0.8rem;
    width: 100%;
  }

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }

  .sign-in-container {
    left: 0;
    width: 100%;
    z-index: 2;
  }

  .sign-up-container {
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 1;
  }

  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }

    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }

  .overlay {
    background: #ff416c;
    background: linear-gradient(to top, #ff4b2b, #ff416c);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;

    &-container {
      position: absolute;
      top: 0;
      top: 50%;
      width: 100%;
      height: 50%;
      overflow: hidden;
      transition: transform 0.6s ease-in-out;
      z-index: 100;
    }

    &-panel {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 40px;
      text-align: center;
      top: 0;
      height: 100%;
      width: 100%;
      transform: translateY(0);
      transition: transform 0.6s ease-in-out;
    }

    &-left {
      transform: translateY(-120%);
    }

    &-right {
      right: 0;
      transform: translateY(0);
    }

    .social-container {
      margin: 1rem;
      padding: 1rem;

      a {
        border: 1px solid #dddddd;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 40px;
        width: 40px;
      }
    }

    p {
      margin: 1rem 0;
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}
